@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #EDF7F0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
}
.roster-container {
    background-color: #DDEBF8;
    border: 2px solid white;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.roster-container > * {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

.nav-container {
    align-self: end;
    margin-top: 5px;
}

.matchup-container {
    min-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.matchup-container .roster-container {
    width: 250px;
    height: 450px;
}

.allMatchups-container {
    text-align: center;
}